{% extends "base.html" %}
{% block title %} {% endblock %}

{% block header %}
    <h3 class="display-4">Programy</h3>
    <p>Szczegułowe informacje o programach.</p>
{#    <p><a class="btn btn-secondary" href="#" role="button">Pokaż więcej &raquo;</a></p>#}
{% endblock %}

{% block content %}
    {% for pr in pgn %}
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-12 bg-white" style="border-radius: 15px; opacity: 0.9">
                <h2>{{ pr.name }} - {{ pr.description }}</h2>
                <div id="temp_chart" style="width: 100%; height: 320px">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Data i godzina startu</th>
                            <th scope="col">Nazwa startu</th>
                            <th scope="col">Przerwa</th>
                            <th scope="col">Godzina startu</th>
                            <th scope="col">Pracuje</th>
                            <th scope="col">Dostępny</th>
                            <th scope="col">Działania</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, ps in pgs.items %}
                            {% if key == pr.id %}
                                {% for st in ps %}
                                    <tr>
                                        {% if st.next_time %}
                                            <td>{{ st.next_time|date:"Y-m-d h:i:s" }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        <td>{{ st.name }}</td>
                                        <td>{{ st.day_delay }} dni</td>
                                        <td>{{ st.start_time|date:"h:i:s"  }}</td>
                                        {% if st.running %}
                                            <td><a class="btn btn-danger btn-sm" href="#" role="button">Wyłącz</a></td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if st.active %}
                                            <td><a class="btn btn-success btn-sm" href="#" role="button">Wyłącz</a></td>
                                        {% else %}
                                            <td><a class="btn btn-secondary btn-sm" href="#" role="button">Włącz</a></td>
                                        {% endif %}
                                        <td><a class="btn btn-primary btn-sm" href="#" role="button">Edycja</a>
                                        <a class="btn btn-danger btn-sm" href="#" role="button">Usuń</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                <p><a class="btn btn-primary" href="#" role="button">Edycja programu &raquo;</a></p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block footer %}<p>&copy; Company 2017-2021</p>{% endblock %}